<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Lab Report</title>
  </head>
  <body>
    <div class="position-relative">
      <!-- Kop Surat -->
      <div class="container mt-5">
        <div class="row justify-content-md-center align-items-center">
          <div class="col-sm-1">
            <img
              src="https://i.ibb.co/tYVD9wh/Screen-Shot-2022-02-10-at-13-59-1.png"
              alt="Screen-Shot-2022-02-10-at-13-59-1"
              width="80px"
              height="80px"
              border="0"
            />
          </div>
          <div class="col-sm-7 text-center">
            <h2>PT MEKONGA SEJAHTERA</h2>
            <h2>LABORATORIUM PENGUJIAN LAB</h2>
            <h4 class="fw-normal">
              Jalan Protokol No.21 Dawi-Dawi Pomalaa Kabupaten Kolaka Provinsi Sulawesi Tenggara
            </h4>
            <br />
            <hr />
          </div>
          <div class="col-sm-1">
            <img
              src="https://i.ibb.co/6YtvqLT/logo2-1-3.png"
              alt="logo2-1-3"
              border="0"
              width="80px"
              height="80px"
            />
          </div>
        </div>
      </div>

      <!-- Header -->
      <div class="text-center mt-5">
        <h2 class="text-decoration-underline fw-light">LAPORAN HASIL UJI LAB INTERNAL</h2>
        <h2>MS12-IO98P</h2>
      </div>

      <!-- Detail Laporan -->
      <div class="container mt-5">
        <div class="row justify-content-md-center gx-5">
          <div class="col-sm-6">
            <div class="container">
              <div class="row justify-content-md-center gx-5">
                <div class="col-sm-5">
                  <h4>Tanggal</h4>
                </div>
                <div class="col-sm-1">
                  <h4 class="fw-light">:</h4>
                </div>
                <div class="col-sm-5">
                  <h4 class="fw-light">12/02/2021</h4>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row justify-content-md-center gx-5">
                <div class="col-sm-5">
                  <h4>Jenis Sample</h4>
                </div>
                <div class="col-sm-1">
                  <h4 class="fw-light">:</h4>
                </div>
                <div class="col-sm-5">
                  <h4 class="fw-light">Sample Test PIT</h4>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row justify-content-md-center gx-5">
                <div class="col-sm-5">
                  <h4>Bukit</h4>
                </div>
                <div class="col-sm-1">
                  <h4 class="fw-light">:</h4>
                </div>
                <div class="col-sm-5">
                  <h4 class="fw-light">Bukit IV</h4>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row justify-content-md-center gx-5">
                <div class="col-sm-5">
                  <h4>Tumpukan / Dome</h4>
                </div>
                <div class="col-sm-1">
                  <h4 class="fw-light">:</h4>
                </div>
                <div class="col-sm-5">
                  <h4 class="fw-light">Dome IV</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="container">
              <div class="row justify-content-md-center gx-5">
                <div class="col-sm-5">
                  <h4>Penerbit</h4>
                </div>
                <div class="col-sm-1">
                  <h4 class="fw-light">:</h4>
                </div>
                <div class="col-sm-5">
                  <h4 class="fw-light">PT. Mekonga Sejahtera</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Tabel -->
      <div class="container mt-3 p-5" style="padding-bottom: 100px !important">
        <table class="table table-bordered" style="border-color: black">
          <thead style="background-color: #3f48c0">
            <tr>
              <th scope="col" class="text-center text-white">No.</th>
              <th scope="col" class="text-center text-white">Parameter Uji</th>
              <th scope="col" class="text-center text-white">Hasil Uji</th>
              <th scope="col" class="text-center text-white">Metode Uji</th>
            </tr>
          </thead>
          <tbody>
            <!-- Data Table -->
            <tr>
              <th scope="row" class="text-center">1</th>
              <th class="ps-4">Inc</th>
              <th class="text-center">546</th>
              <th class="text-center">SNI :9999.99:2009</th>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Footer -->
      <div class="position-absolute bottom-0 end-0">
        <div class="container">
          <div class="row justify-content-md-center align-items-center">
            <div class="col-sm-2">
              <img
                src="https://i.ibb.co/tYVD9wh/Screen-Shot-2022-02-10-at-13-59-1.png"
                alt="Screen-Shot-2022-02-10-at-13-59-1"
                width="50px"
                height="50px"
                border="0"
              />
            </div>
            <div class="col-sm-10">
              <h4>PT. Mekonga Sejahtera</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="position-absolute bottom-0 start-0"><h6>12/06/2022,13:21,WITA</h6></div>
    </div>
  </body>
</html>
